.header .navbar {
  background: transparent;
}

.navbar {
  background: var(--dark-pink-bg-color);
}

.navbar-content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-with-flags {
  display: none;
}

.logo {
  width: 60vw;
}

.navbar-inner-box {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 99;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: var(--animate);
  transform: translateX(100%);
}

.navbar-inner.active .navbar-inner-box {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav ul {
  text-align: center;
}

.nav ul li {
  margin-bottom: 35px;
}

.nav ul li:last-child {
  margin-bottom: 0;
}

.nav ul .active {
  border-bottom: 2px solid #000;
}

.nav ul a,
.nav ul button {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .logo-with-flags {
    display: block;
    width: 323px;
    height: 58px;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 900px) {
  .login-btn {
    color: #fff;
  }

  .signup-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 8px 18px;
    transition: var(--animate);
  }

  .signup-btn:hover {
    color: var(--dark-pink-bg-color) !important;
    background: #fff;
  }

  .navbar-inner-box {
    position: static;
    background: transparent;
    height: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }

  .nav {
    display: block;
    height: auto;
  }

  .nav ul {
    text-align: initial;
    font-size: 16px;
    display: flex;
  }

  .nav ul li {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .nav ul li:last-child {
    margin-right: 0;
  }

  .nav ul .active {
    border-bottom: 2px solid #fff;
  }

  .nav ul a,
  .nav ul button {
    font-size: 16px;
    color: #fff;
    text-transform: none;
  }

  .nav ul a:hover,
  .nav ul button:hover {
    color: #e8e8e8;
  }
}
